/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    box-sizing: border-box;
    text-align: center;
}
header {
    background-color: #9CA3AF;
    color: white;
    font-size: 60px;
}
th {
    background-color: #9CA3AF;
    color: white;
    padding: 10px;
}
td {
    padding: 10px;
}
input {
    height: 30px;
}
.addbutton {
    margin: 20px;
    padding: 5px  30px;
    background-color: #9CA3AF;
    border-radius: 10%;
    color: white;
}
.addbutton:hover{
    opacity: 0.7;
    transition: .5s;
}
.contents {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px;
}

#delete {
    color: blue;
}

.AllDelete {
    background-color: red;
    color: white;
    border-radius: 10%;
    position: absolute;
    top: -30px;
}
